{% load static %}
<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper">
        <div class="container">
            <div class="column one">
                <aside class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div style="text-align:center;">
                            <img src="{% static 'images/astro-footer-icon.png' %}">
                            <p>
                                Experience the power of AI-driven dream analysis with our cutting-edge platform. Our advanced algorithms and expert analysis provide unparalleled insight into the hidden meanings of your dreams.                           
                                <br> Trust us to guide you on your journey towards self-discovery and personal growth. Join our community now and unlock the secrets of your subconscious mind.
                            </p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <div class="copyright">
                    &copy; 2023 Omnirix Group
                </div>
            </div>
        </div>
    </div>
</footer>