{% extends 'base.html' %}

{% block content %}
{%load static%}
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section mcb-section-18cebbdc0 bg-cover" style="padding-top:250px;padding-bottom:155px;background-image:url(images/astro-main-bg.jpg);background-repeat:no-repeat;background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-d66b6a3c6 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-cd8051bc3 one column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h1>Find your
                                            <br> horoscope
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-ckivnp95k">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-ilyvzaft8 one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-qc786y4gl one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/astro-home-zodiak-4.png' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-nsue5rlmt one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-ma53qb7hg two-third column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Leo</h2>
                                        <p style="color:#fff">
                                            Leo is a fire sign represented by the lion, and they are known for their confident and outgoing nature.                                        </p>
                                        <p style="color:#fff">
                                            They are natural leaders and tend to be passionate and ambitious in their pursuits. With the help of AI and dream analysis, Leos may gain insight into their future successes and career goals.                                        </p>
                                        <p style="color:#fff">
                                            By reporting their dreams, AI algorithms can identify patterns and symbols that may indicate opportunities or challenges in the Leo's career path. For example, if a Leo dreams of a lion hunting down its prey, this may suggest that they will have a successful and competitive period in their career. On the other hand, if a Leo dreams of being lost in a jungle, this may indicate that they need to take a step back and re-evaluate their goals before moving forward.                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-4tvenzkuo" style="padding-top:50px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-9hcebw4ec one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-g8qd3h1t8 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/astro-home-zodiak-11.png' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-bi1gage33 one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-sq5q1n0k6 two-third column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Taurus</h2>
                                        <p style="color:#fff">
                                            Taurus is an earth sign represented by the bull, and they are known for their grounded and practical nature.
                                        </p>
                                        <p style="color:#fff">
                                            They tend to value stability and security in their lives, and may often find themselves drawn to careers in finance or real estate. With the help of AI and dream analysis, Taureans may gain insight into their future financial status and security. By reporting their dreams, AI algorithms can identify patterns and symbols that may indicate opportunities or challenges in the Taurean's financial future.
                                        </p>
                                        <p style="color:#fff">
                                            For example, if a Taurus dreams of a field of blooming flowers, this may suggest that they will experience financial growth and abundance. On the other hand, if a Taurus dreams of a stormy sea, this may indicate that they will face financial obstacles in the near future.                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-tlqla8a32" style="padding-top:50px;padding-bottom:75px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-yg165rdmy one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-yyu01odvf one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/astro-home-zodiak-8.png' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-epuv6pnk2 one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-5wps2tqun two-third column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h2>Sagitarius</h2>
                                        <p style="color:#fff">
                                            Sagittarius is a fire sign represented by the archer, and they are known for their adventurous and curious nature. They tend to value freedom and exploration in their lives, and may often find themselves drawn to careers in travel or education.                                        </p>
                                        <p style="color:#fff">
                                            With the help of AI and dream analysis, Sagittarians may gain insight into their future adventures and opportunities for growth. By reporting their dreams, AI algorithms can identify patterns and symbols that may indicate upcoming opportunities for travel or education.
                                        </p>
                                        <p style="color:#fff">
                                            For example, if a Sagittarius dreams of soaring through the sky on a bird's back, this may suggest that they will have a life-changing travel experience in the near future. On the other hand, if a Sagittarius dreams of being stuck in a small room, this may indicate that they need to break free from their routine and seek new opportunities for growth.                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-e7d3d3986 bg-cover" style="padding-top:50px;padding-bottom:175px;background-image:url(images/astro-home-clouds.png);background-repeat:no-repeat;background-position:center bottom">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-696da1a5b one valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-f69355881 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'images/astro-home-moon-cycle.png' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-d8df558e1 one valign-top move-up clearfix" style="margin-top:-75px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-361abc7dd one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-9c853b3f8 two-third column_column">
                                    <div class="column_attr clearfix align_center">
                                        <h3>Beyond Horoscopes: How AI Can Reveal Our Future through Dream Analysis</h3>
                                        <hr class="no_line" style="margin:0 auto 30px">
                                        <p style="color:#fff;">
                                            While horoscopes have long been a popular tool for predicting the future, they are often criticized for their lack of accuracy and scientific basis. With the advent of AI technology, however, there is now an opportunity to move beyond the generalized predictions of horoscopes and delve into the unique insights offered by analyzing an individual's dreams. By harnessing the power of machine learning algorithms and natural language processing, AI can help us identify patterns and uncover hidden meanings in our dreams that may hold clues to our future. With this advanced technology, we can gain a deeper understanding of ourselves and our potential, without relying on the vague and often inaccurate predictions of traditional horoscopes.                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-4b675fce3 one column_button">
                                    <div class="button_align align_center">
                                        <a class="button button_size_2 button_dark button_js" href="{% url 'dream-form' %}"><span class="button_label">Start now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}